*{
    margin: 0;
    padding: 0;
}
.chat-room-conatiner{
    display: block;
}
.form-username{
    display: none;
}
.chat-room-header{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
}
.message-conatiner{
    height: 90vh;
    display: flex;
    align-items: flex-end ;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
}
.message{
    background-color: #DCF8C6;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.message-send{
    align-self: flex-end;
}